{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block head %}
<script>
window.onload = function() {
   document.getElementById('id_username').setAttribute('value','{{ request.GET.query }}');
};
</script>
{% endblock %}
{% block body %}
<header class="flex items-center min-h-screen w-screen justify-center text-white bg-blend-overlay bg-opacity-75 bg-black" style="background-image: url('{% static 'images/netflix-home.jpg' %}')">
    <div class="text-center">
        <form method="post">
            {% csrf_token %}
            <fieldset>
                <legend class="text-4xl">
                    Faça login para continuar
                </legend>
                <hr>
                {{ form|crispy }}
            </fieldset>
            <button type="submit" class="my-2 text-white bg-red-700 hover:bg-red-800 focus:ring-1 focus:ring-red-300 font-medium rounded-lg text-sm px-4 py-2.5 text-center">Fazer login</button>
        </form>
        <small>
            Não tem conta ainda?
            <br>
            <a href="{% url 'filme:criar_conta' %}">Clique aqui para criar um conta</a>
        </small>
    </div>

</header>

{% endblock %}