{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/carrousel.css' %}">
{% endblock%}

{% block body %}
<main class="">

    <section class='bg-primary_black flex justify-center py-10 items-center h-full'>
            <div class="p-8 w-10/12 relative" >
                {% if pesquisa_filmes %}
                <h2 class="text-gray-200 text-2xl font-medium">
                    Resultados encontrados:
                </h2>
                <div class="wrapper">
                  <section id="section1" class="flex flex-nowrap items-center justify-center space-x-8">
                    <a href="#section2" class="arrow__btn text-6xl page">‹</a>
                      {% for resultado in pesquisa_filmes %}
                      {% if forloop.counter < 5 %}
                          <div class="item h-64 w-1/4 m-4">
                              <a href="{% url 'filme:detalhes_filmes' resultado.pk %}">
                                <img src="{{ resultado.thumb.url }}" class="rounded-md w-full h-full object-cover">
                              </a>
                          </div>
                      {% endif %}
                      {% endfor %}
                        <a href="#section2" class="arrow__btn text-6xl">›</a>
                  </section>
                {% if filmes_novos|length > 4%}
                  <section id="section2" class="flex flex-nowrap items-center justify-center">
                      <a href="#section1" class="arrow__btn text-6xl">‹</a>
                      {% for resultado in pesquisa_filmes %}
                      {% if forloop.counter < 5 %}
                          <div class="item h-64 w-1/4 m-4">
                              <a href="{% url 'filme:detalhes_filmes' resultado.pk %}">
                                <img src="{{ resultado.thumb.url }}" class="rounded-md w-full h-full object-cover">
                              </a>
                          </div>
                      {% endif %}
                      {% endfor %}
                      <a href="#section1" class="arrow__btn text-6xl">›</a>
                  </section>
                {% endif %}
                </div>
                {% else %}
                <h2 class="text-gray-200 text-2xl font-medium flex flex-nowrap items-center justify-center space-x-8">
                    Nenhum resultado foi encontrado
                </h2>
                {% endif %}

            </div>
    </section>

</main>

{% endblock %}